<!DOCTYPE html>
<html>
  <head>
    <title>Request Header Parser Microservice</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet prefetch" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="container-fluid">
      <h1>
        Request Header Parser Microservice
      </h1>
      <div class="story">
        <h3>
          User Story:
        </h3>
        <p>
          I can get the IP address, language and operating system for my browser.
        </p>
        <p>
          Go to <code>https://request-header-parser-padunk.glitch.me/api/whoami</code>
        </p>

        <h4>
          Example Output:
        </h4>
        <code>{"ipaddress":"123.456.789.00","language":"en-US","software":"Windows NT 10.0; Win64; x64"}</code>

      </div>      
    </div>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
